<% layout('layouts/boilerplate')%>
<div class="container">
  <section class="container">
    <section class="left">
      <img src="./pic/ch.png" alt="" class="chPicture" />
    </section>

    <section class="right">

        <h1><strong>彭志宏老師 Chih-Hung Peng</strong></h1>
       <br>
       <br>
      <h3>個人簡介</h3>
      <hr />
       <ul>
        <li>電子郵件: chpeng@nccu.edu.tw</a></li>
        <li>聯絡電話:	88140</li>
        <li>職稱:   	助理教授</li>
        
      </ul>

      <br />
      <br />

      <h3>研究專長</h3>
      <hr />
      <ul>
        <li>Virtual team</li>
        <li>Social media</li>
        <li>Organizational innovation</li>
   
        
      </ul>

      <br />
      <br />

      <h3>個人網站</h3>
      <ul>
        <a href="https://sites.google.com/view/ischpeng"><li>https://sites.google.com/view/ischpeng</li></a>
     
      </ul>
    </section>
  </section>
</div>

