<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3 ">
            <img src="/pic/tp.jpg" width="50%" height="30%"class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">梁定澎</h5>
              <p class="card-text">美國賓夕法尼亞大學 管理資訊系統博士</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">
                研究領域：
                1. 電子化企業
                2. 電子商務與網路社群
                3. 知識管理
                4. 商業智慧與資料探勘
                5. 決策支援系統
                6. 資訊管理策略</li>
              <li class="list-group-item">研究專長	電子商務、知識管理、資訊管理、服務科學</li>
              
            </ul>
        
            <div class="card-footer text-muted">
                兩天前
            </div>
          </div>
        
    </div>
</div>


  